{% extends "base.html" %}

{% block head_title %}
{{ super() }}: Compra
{% endblock head_title %}

{% block page_title %}
<h1>Compra de Cryptos</h1>
{% endblock page_title %}

{% block contenido %}

<body>
    <div class='principal'>
        <div class='fila'>
            <div class='cuadro'>From:</div>
            <div class='item1'></div>
            <div class='cuadro'>To:</div>
            <div class='item2'></div>
        </div>
        <div class='fila'>
            <div class='cuadro'>Q:</div>
            <div class='item3'>
                <img src="/static/css/icons/calculator.png">
            </div>
            <div class='cuadro'>Q:</div>
        </div>
        <div class='fila'>
            <div class='cuadro'>P.U:</div>
        </div>
        <div class='fila'>
            <div class='cuadro actions'>
                <button class="btn">OK</button>
            </div>
        </div>
    </div>
</body>