:root {
    --primary-color: #1349c8;
    --secondary-color: #034d3f;

    --neutral-100: #f0f0f0;
    --neutral-60: #666666;

    --error-color: var(--primary-color);

    --standard-border: solid 3px var(--primary-color);
}

header {
    --header-height: 100px;
    background-color: var(--primary-color);
    color: var(--neutral-100);
    height: var(--header-height);
    line-height: var(--header-height);
    padding-left: 20px;
    font-size: large;
}

.navbar {
    background-color: var(--secondary-color);
    color: var(--neutral-100);
    height: 25px;
    line-height: 25px;
    padding-left: 20px;
}

.navbar a,
.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    color: var(--neutral-100);
}

.main {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.subtitulo {
    text-align: center;
    margin-bottom: 0px;
    font-size: larger;
    font-weight: bold;
    color: black;
}

.tabla {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 6px;
}

.principal {
    border: solid 0px;
}

.fila {
    border: solid 2px black;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cuadro {
    flex: 1;
    text-align: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 6px;
}

.item {
    border: solid 3px black;
    margin: 10px;
}

.cuadro.actions {
    background-color: #f0f0f0;
    padding: 5px;

}








...................................... .tabla .primero {}

.tabla .segundo {
    text-align: right;
}

.tabla .tercero {
    text-align: center;
    padding: 25px;
    color: var(--neutral-60);
}

.tabla .cuarta {
    color: var(--error-color);
    font-size: small;
    margin: 0 0 10px 0;
    line-height: 1rem;
}

.footer {
    padding: 20px;
    border-top: var(--standard-border);
}

.acciones .mini-boton {
    /* border: solid thin var(--primary-color); */
    padding: 0 5px;
    /* background-color: lightgray; */
    color: var(--primary-color);
}

.acciones a.mini-boton:hover {
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
}

.boton .boton-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 6px;
}

.boton .boton-plus {}